/* logo characteristics */
header {
	opacity: 0.7;
}

.container .logo {
	width: 70%;
	position: absolute;
}

.logo img {
	margin: 7px 5px;
	position: fixed;
	width: 75px;
	z-index: 100;
}

/* navbar characteristics */
nav {
	background-color: #ffffff;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	width: 100%;
	position: fixed;
}

.nav-item {
	display: flex;
	text-align: center;
}

.nav-item > a {
	border: 1px solid #555;
	color: #555;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 20px 10px 0px;
	padding: 10px;
}

.nav-item > a:hover {
	text-decoration: none;
	background-color: #ccffcc;
	-webkit-transition:100;
}

/* about me page view */
#about {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	height: 100vh;
}

#about-content {
	height: 0px;
	margin-top: 75px;
	width: 50%;
}

#about-content > p {
	margin-top: 2px;
	line-height: 26px;
}

#home, #f {
	background: url(../img/header-bg.jpg) no-repeat center top;
	background-size: cover;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	height: 100vh;
	width: 100%;
}

/* box for caption on front page */
.row {
	background-color: white;
	opacity: 0.8;
	border-radius: 10px;
	margin-left: 600px;
	margin-top: 150px;
	width: 600px;
}

@media screen and (max-width: 600px) {
  .row {
		margin-left: 50px;
		/* margin-top: 150px; */
		width: 300px;
	}
	.row > a > h1 {
		font-size: 25px;
		font-weight: normal;
		margin-top: 0px;
		z-index: 10;
	}
	.row > a > h2 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 30px;
		font-weight: 200;
		line-height: 26.4px;
	}
}

.row > a {
	color: #000000;
	font-family: Comfortaa;
}

.row > a:hover {
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.row > a > h1 {
	font-size: 45px;
	font-weight: normal;
	margin-top: 0px;
	z-index: 10;
}

.row > a > h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 200;
	line-height: 26.4px;
	margin-top: 0px;
}

/* about me profile image */
#profile-image  {
	height: 200px;
}

#profile-image > img {
	border:2px solid #555;
	margin-top: 100px;
	margin-left: 20px;
	height: 250px;
	width: 248px;
}


/* Skills in About */
#proficient-skills > h2, #lesser-skills > h2 {
	text-align: center;
}
#skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.profiient-skills-icons > i {
	font-size: 7rem;
	padding-left: 50px;
	color: #555;
}

#proficient-skills {
	margin: 150px 0px 50px 0px;
	height: 100px;
}

.lesser-skills-icons > i {
	font-size: 5rem;
	padding-left: 50px;
	color: #555;
}

/* Portfolio Section */

#portfolio {
	height: 100vh;
}

#portfolio-content {
	padding-top: 100px;
	text-align: center;
}

#portfolio-content > h1 {
	text-align: center;
	background-color: #555;
	padding: 10px;
	color: #ffffff;
}

#portfolio-cards-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.portfolio-card > img {
	height: 200px;
	width: 400px;
	padding-left: 30px;
	opacity: 0.9;
}

.portfolio-card > h2 {
	text-align: center;
	color: #555;
}


/* overlay effect */
.portfolio-card {
  position: relative;
	width: 30%;
	margin: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
	background-color: #555;
	border-radius: 10px;
}

.portfolio-card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text > h3 {
	font-size: 25px;
}

.text > p {
	font-size: 15px;
}

/* Three icons in bottom of portfolio */

#rest-of-work {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 100px auto;
	width: 50%;
}

.other-work {
	margin-left: 50px;
}

.other-work > a > img {
	height: 70px;
	width: 70px;
	text-align: center;
	display: block;
	margin: 0 auto;
	color: #555;
}

.other-work > a > h3 {
	text-align: center;
	color: #555;
	text-decoration: none;
}

.other-work > a > img:hover {
	opacity: 0.7;
}

.other-work > a:hover {
	text-decoration: none;
	opacity: 0.7;
}

/* Contact Section */

#contact {
	height: 100vh;
}

#contact-content {
	padding-top: 200px;
	width: 50%;
	margin: 50px auto;
	display: block;
}

#contact-content > h1 {
	text-align: center;
	margin-left: 50px;
}

/* icons underneath contact */
#contact-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 5px auto;
	width: 50%;
}

.contact-icon {
	margin-left: 50px;
}

.contact-icon > a > img {
	height: 70px;
	width: 70px;
	text-align: center;
	display: block;
	margin: 0 auto;
	color: #555;
}

.contact-icon > a > h3 {
	text-align: center;
	color: #555;
	text-decoration: none;
}

.contact-icon > a > img:hover {
	opacity: 0.7;
}

.contact-icon > a:hover {
	text-decoration: none;
	opacity: 0.7;
}


/* button in portfolio cards css */

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  font-family: Arial;
  font-size: 20px;
  background: #3193d4;
	padding: 10px 10px 10px 10px;
	margin: 5px;
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button > a {
	color: #ffffff;
}

button > a:hover {
	text-decoration: none;
	color: #ffffff;
	opacity: 0.7;
}
