/* logo characteristics */
header {
	opacity: 0.7;
}

.container .logo {
	width: 70%;
	position: absolute;
}

.logo img {
	margin: 7px 5px;
	position: fixed;
	width: 75px;
	z-index: 100;
}

/* navbar characteristics */
nav {
	background-color: #ffffff;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	width: 100%;
	position: fixed;
}

.nav-item {
	display: flex;
	text-align: center;
}

.nav-item > a {
	border: 1px solid #555;
	color: #555;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 20px 10px 0px;
	padding: 10px;
}

.nav-item > a:hover {
	text-decoration: none;
	background-color: #ccffcc;
	-webkit-transition:100;
}

#home, #f {
	background: url(../img/header-bg.jpg) no-repeat center top;
	background-size: cover;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	height: 100vh;
	width: 100%;
}

@media screen and (max-width: 600px) {
	/*
	* Made by Erik Terwan
	* 24th of November 2015
	* MIT License
	*
	*
	* If you are thinking of using this in
	* production code, beware of the browser
	* prefixes.
	*/

	body
	{
		margin: 0;
		padding: 0;

		/* make it look decent enough */
		background: #232323;
		color: #cdcdcd;
		font-family: "Avenir Next", "Avenir", sans-serif;
	}

	a
	{
		text-decoration: none;
		color: #232323;

		transition: color 0.3s ease;
	}

	a:hover
	{
		color: tomato;
	}

	#menuToggle
	{
		display: block;
		position: relative;
		top: 50px;
		left: 50px;

		z-index: 1;

		-webkit-user-select: none;
		user-select: none;
	}

	#menuToggle input
	{
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */

		-webkit-touch-callout: none;
	}

	/*
		* Just a quick hamburger
		*/
	#menuToggle span
	{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: #cdcdcd;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
								background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
								opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
		transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
		transform-origin: 0% 100%;
	}

	/*
		* Transform all the slices of hamburger
		* into a crossmark.
		*/
	#menuToggle input:checked ~ span
	{
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}

	/*
		* But let's hide the middle one.
		*/
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
		* Ohyeah and the last one should go the other direction
		*/
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
		transform: rotate(-45deg) translate(0, -1px);
	}

	/*
		* Make this absolute positioned
		* at the top left of the screen
		*/
	#menu
	{
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;

		background: #ededed;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */

		transform-origin: 0% 0%;
		transform: translate(-100%, 0);

		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
		padding: 10px 0;
		font-size: 22px;
	}

	/*
		* And let's slide it in from the left
		*/
	#menuToggle input:checked ~ ul
	{
		transform: none;
	}
		}

/* box for caption on front page */
.row {
	background-color: white;
	opacity: 0.8;
	border-radius: 10px;
	margin-left: 600px;
	margin-top: 350px;
	padding: 20px 5px;
	width: 350px;
}

.row > a {
	color: #000000;
	font-family: Comfortaa;
}

.row > a:hover {
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.row > a > h1 {
	font-size: 35px;
	font-weight: normal;
	margin-top: 0px;
	z-index: 10;
}

.row > a > h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 200;
	line-height: 26.4px;
	margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .row {
		margin: 100px auto;
	}
}

/* about me profile image */
#profile-image  {
	height: 200px;
}

#profile-image > img {
	border:2px solid #555;
	margin-top: 100px;
	margin-left: 20px;
	height: 250px;
	width: 248px;
}

/* about me page view */
#about {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	height: 100vh;
}

#about-content {
	height: 0px;
	margin-top: 75px;
	width: 50%;
}

#about-content > p {
	margin-top: 2px;
	line-height: 26px;
}

@media screen and (max-width: 600px) {
	#about-content {
		margin-top: 150px;
		text-align: center;
	}

	#about-content > h1 {
		font-size: 26px;
		text-align: center;
	}
}


/* Skills in About */
#proficient-skills > h2, #lesser-skills > h2 {
	text-align: center;
}
#skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.profiient-skills-icons > i {
	font-size: 7rem;
	padding-left: 50px;
	color: #555;
}

#proficient-skills {
	margin: 150px 0px 50px 0px;
	height: 100px;
}

.lesser-skills-icons > i {
	font-size: 5rem;
	padding-left: 50px;
	color: #555;
}

@media screen and (max-width: 800px) {
	#about {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	#proficient-skills {
		margin-top: 500px;
		text-align: center;
	}
	#lesser-skills {
		margin-top: 550px;
		text-align: center;
	}
	.profiient-skills-icons, .lesser-skills-icons {
		padding: 20px;
		margin-left: 20px;
	}
	.lesser-skills-icons > i {
		font-size: 7rem;
	}
}

/* Portfolio Section */

@media screen and (max-width: 600px) {

}


#portfolio {
	height: 100vh;
}

#portfolio-content {
	padding-top: 100px;
	text-align: center;
}

#portfolio-content > h1 {
	text-align: center;
	background-color: #555;
	padding: 10px;
	color: #ffffff;
}

#portfolio-cards-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.portfolio-card > img {
	height: 200px;
	width: 400px;
	padding-left: 30px;
	opacity: 0.9;
}

.portfolio-card > h2 {
	text-align: center;
	color: #555;
}


/* overlay effect */
.portfolio-card {
  position: relative;
	width: 30%;
	margin: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
	background-color: #555;
	border-radius: 10px;
}

.portfolio-card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text > h3 {
	font-size: 25px;
}

.text > p {
	font-size: 15px;
}

/* Three icons in bottom of portfolio */

#rest-of-work {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 100px auto;
	width: 50%;
}

.other-work {
	margin-left: 50px;
}

.other-work > a > img {
	height: 70px;
	width: 70px;
	text-align: center;
	display: block;
	margin: 0 auto;
	color: #555;
}

.other-work > a > h3 {
	text-align: center;
	color: #555;
	text-decoration: none;
}

.other-work > a > img:hover {
	opacity: 0.7;
}

.other-work > a:hover {
	text-decoration: none;
	opacity: 0.7;
}

/* Contact Section */

#contact {
	height: 100vh;
}

#contact-content {
	padding-top: 200px;
	width: 50%;
	margin: 50px auto;
	display: block;
}

#contact-content > h1 {
	text-align: center;
	margin-left: 50px;
}

/* icons underneath contact */
#contact-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 5px auto;
	width: 50%;
}

.contact-icon {
	margin-left: 50px;
}

.contact-icon > a > img {
	height: 70px;
	width: 70px;
	text-align: center;
	display: block;
	margin: 0 auto;
	color: #555;
}

.contact-icon > a > h3 {
	text-align: center;
	color: #555;
	text-decoration: none;
}

.contact-icon > a > img:hover {
	opacity: 0.7;
}

.contact-icon > a:hover {
	text-decoration: none;
	opacity: 0.7;
}


/* button in portfolio cards css */

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  font-family: Arial;
  font-size: 20px;
  background: #3193d4;
	padding: 10px 10px 10px 10px;
	margin: 5px;
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button > a {
	color: #ffffff;
}

button > a:hover {
	text-decoration: none;
	color: #ffffff;
	opacity: 0.7;
}
